.App {
  text-align: center;
  display: flex;
}

.inputFile {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
}

.fileWrapper {
  position: relative;
}

.fileWrapperBg {
  background-image: url('logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
